* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: cyan;
}

.ul-pokemons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}

.card {
  padding: 20px;
  list-style: none;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: cadetblue;
  border-radius: 10px;
}

.card-img {
  background: indigo;
  border-radius: 10%;
}

.card-title {
  font-family: arial;
  text-transform: capitalize;
  font-size: 16px;
}

.card-subtitle {
  font-size: 14px;
  font-family: arial;
}